body {
  background-color: #0e7be8;
}

.timer {
  display: flex;
  justify-content: center;
  margin: auto;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.field:not(:last-child) {
  margin-right: 30px;
}

.value {
  padding: 20px;
  margin-bottom: 25px;

  font-size: 100px;
  font-weight: 700;

  color: #e8dd0e;
  background-color: #e80e0e;

  border-radius: 50%;
}

.label {
  font-size: 48px;
  font-weight: 700;
  color: #32e80e;
}
